  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
  }
  
  article, aside, footer, header, nav, section {
    display: block;
  }

  .navbar {
      box-sizing: border-box;
      display: block;
      text-align: center;
  }

  ul.navbar-nav {
      margin: 0 auto;
  }

  li.nav-item {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .4em;
    list-style: initial;
    padding: 0.5em 2em 0.5em 2em;
    margin: 0 1em 0 1em;
    color: rgb(0, 0, 0);
  }

  li.home-link {
      list-style: none;
  }

  .navbar-brand {
      font-family: 'Cutive Mono', monospace;
      font-size: 18px;
      color: rgb (0, 0, 0);
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 1em;
  }

  .navbar-light .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 1);
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #787878;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #787878;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  /* Carousel */

  .carousel {
    margin-top: 1em;
  }

  .carousel-control-next-icon {
    background-image: url(../img/right-arrow.svg);
    background-size: 80%;
  }

  .carousel-control-prev-icon {
    background-image: url(../img/left-arrow.svg);
    background-size: 80%;
  }

  .main {
    width: 100%;
    text-align: center;
  }

  .img-fluid {
    width: 60%;
    margin-top: 1em;
  }

  .img-contact {
    width: 50%;
  }

  p.main {
    font-family: 'Cutive Mono', monospace;
    font-size: 14px;
    max-width: 700px;
    padding: 1em 1em 4em 1em;
    margin: 0 auto;
  }

  em {
    letter-spacing: 2px;
  }

  /* Footer */

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #ffffff;
    text-align: center;
    margin-top: 0.5em;
    padding: 1em;
  }

  .footer .row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .footer .row .col p {
    font-family: 'Cutive Mono', monospace;
    font-size: 13px;
  }

  /* Animation */

  .navbar {
    -vendor-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -vendor-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  @media(max-width: 767px){
    li.nav-item {
      list-style: none;
    }

    .navbar-light .navbar-toggler {
      position: absolute;
      right: 0.5em;
      top: 0.5em;
    }

    .navbar-brand {
      position: absolute;
      left: 1em;
      top: 0.7em;
      margin-top: 0;
    }

    ul.navbar-nav {
      margin-top: 3.5em;
    }

    .carousel {
      margin-top: 1em;
      padding-top: 1.5em;
    }

    .carousel-control-next-icon {
      background-image: none;
    }
  
    .carousel-control-prev-icon {
      background-image: none;
    }

    .footer {
      padding-top: 0.5em;
    }

    .d-block { 
      max-height: 762px;
      max-width: 767px;
    }

    .main {
      margin-top: 1em;
      padding-top: 1.5em;
    }

    .img-fluid {
      width: 85%;
    }
}

@media(min-width: 768px){
  .d-block { 
    width: 100%;
    height: auto;
  }
}