*, *::before, *::after {
    box-sizing: inherit;
  }
  
  html {
      box-sizing: border-box;
      font-size: 100%;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
  }
  
  article, aside, footer, header, nav, section {
    display: block;
  }
  
  @font-face {
    font-family: 'clinica_proregular';
    src: url('../fonts/ClinicaPro-Regular-webfont.eot');
    src: url('../fonts/ClinicaPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClinicaPro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/ClinicaPro-Regular-webfont.woff') format('woff'),
         url('../fonts/ClinicaPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/ClinicaPro-Regular-webfont.svg#clinica_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'clinica_proregular';
    margin: 0;
    padding: 0;
    color: #0000cc;
    background: #ffcccc;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  p {
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.5;
  }
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #feffff;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
  }
  
  .menu-icon {
    position: fixed;
    top: 20px;
    left: 5%;
    padding: 6px;
    z-index: 4;
  }
  
  .menu-icon div {
    width: 30px;
    height: 4px;
    border-radius: 5px;
    margin: 6px 0;
    background-color: #0000cc;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
  }
  .menu-icon:hover div {
    background-color: #feffff;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
  }
  
  .menu-icon:hover {
    cursor: pointer;
  }
  
  /* The navigation menu links */
  .sidenav a {
    font-family: 'Reenie Beanie', cursive;
    color: #0000cc;
    padding: 8px 8px 8px 32px;
    font-size: 2.8rem;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }
  .sidenav {
    overflow: hidden;
  }
  
  .sidenav a:hover::before {
    opacity: 1;
    transform: translate(0,0);
  }
  .sidenav a::before {
    position: absolute;
    content: attr(data-hover);
    opacity: 0;
    transform: translate(0,100%);
    -webkit-transition: all .3s ease-in-out .2s;
    -moz-transition: all .3s ease-in-out .2s;
    transition: all .3s ease-in-out .2s;
    
  }
  
  .sidenav a:hover span {
    opacity: 0;
    transform: translate(-100%,0);
  }
  
  .sidenav span {
      -webkit-transition: all .3s ease-in-out .2s;
      -moz-transition: all .3s ease-in-out .2s;
      transition: all .3s ease-in-out .2s;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .main {
    transition: margin-left .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  /* Project Title */
  
  .container {
    width: 100%;
  }
  .project-title {
    margin-top: 20%;
    margin-bottom: 18%;
    text-align: center;
  }
  
  .project-title .col {
    text-align: center;
  }
  
  .project-title .col h1 {
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
  }
  
  .project-title .col h1::before {
    content: '<h1> ';
    font-family: 'Reenie Beanie', cursive;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 2rem;
    color: slategrey;
  }
  
  .project-title .col h1::after {
    content: ' </h1>';
    font-family: 'Reenie Beanie', cursive;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 2rem;
    color: slategrey;
  }
  
  .scroll-down svg{
    margin-left: auto;
      margin-right: auto;
    display: block;
  }
  
  .scroll-down {
    text-align: center;
    margin-left: auto;
      margin-right: auto;
    display: block;
  }
  
  .scroll-down span {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
    color: #0000cc;
  }
  
  .scroll-down:hover {
    text-decoration: none;
    color: #0000cc;
  }

.img-fluid {
    display: block;
}

.img-3 {
    padding-bottom: 5em;
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.slideshow-title {
    font-family: 'Reenie Beanie', cursive;
    font-size: 3.8rem;
    padding-bottom: 1em;
}

@media(max-width: 575px) {
    .slideshow-title {
        font-family: 'Reenie Beanie', cursive;
        font-size: 1.2rem;
        padding-bottom: 1em;
    }

    .img-3 {
        padding-bottom: 3em;
        width: 85%;
        height: auto;
        margin: 0 auto;
    }

    .project-title .col h1 {
        font-size: 2rem;
        margin-top: 35%;
        margin-bottom: 15%;
        padding-bottom: 0.5em;
    }
    
    .project-title .col h1::before {
        font-size: 1.6rem;
    }
    
    .project-title .col h1::after {
        font-size: 1.6rem;
    }
}

@media(min-width: 576px) and (max-width: 768px){
    .project-title .col h1 {
      font-size: 3rem;
      margin-top: 15%;
    }
  
    .project-title .col h1::before {
      font-size: 1.6rem;
    }
  
    .project-title .col h1::after {
      font-size: 1.6rem;
    }
  
  }
  
  /* Project */
  
  .project {
    background: #feffff;
    padding-bottom: 2em;
  }
  
  .container {
    width: 100%;
    text-align: center;
  }
  
  .img-1 {
    margin-top: 5%;
  }

  @media(min-width: 576px) and (max-width: 767px){
    .slideshow-title {
        font-family: 'Reenie Beanie', cursive;
        font-size: 2rem;
        padding-bottom: 1em;
    }

    .img-3 {
        padding-bottom: 3em;
        width: 85%;
        height: auto;
        margin: 0 auto;
    }
}

@media(min-width: 768px) and (max-width: 992px){
    .slideshow-title {
        font-family: 'Reenie Beanie', cursive;
        font-size: 2.6rem;
        padding-bottom: 1em;
    }

    .img-3 {
        padding-bottom: 3em;
        width: 85%;
        height: auto;
        margin: 0 auto;
    }
}

  .go-to-website {
    margin: 0 auto;
    font-family: 'Reenie Beanie', cursive;
    text-transform: lowercase;
    letter-spacing: 0;
    font-size: 3rem;
    color: #0000cc;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
  }
  
  .go-to-website svg {
      fill: none;
      stroke: #0000cc;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke-dasharray: 338;
      stroke-dashoffset: 338;
      stroke-linecap: round;
      position: absolute;
      margin-left: -1.2em;
      margin-top: 0.7em;
      width: 220px;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
    }
    
    .go-to-website:hover svg {
      stroke-dashoffset: 0;
      opacity: 1;
      transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    .go-to-website:hover {
      text-decoration: none;
    }
  
    @media(max-width: 768px) {
      .go-to-website {
        font-size: 2rem;
      }
  
      .go-to-website svg {
        width: 150px;
        margin-left: -1.2em;
      }
    }
  
  /* Home Logo */
  
  .name-logo {
    font-family: 'Reenie Beanie', cursive;
    font-weight: 700;
    color: #0000cc;
    position: fixed;
    top: 10px;
    right: 5%;
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 1px;
    z-index: 4;
    transition: all 1s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
  }
  
  .name-logo:hover {
    color: #feffff;
    text-decoration: none;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  
  /* See more work */
  
  .next-project {
    padding: 120px 50px 120px 50px;
    text-align: center;
  }
  
  .next-project h1 {
    font-family: 'clinica_proregular';
    font-weight: 700;
    font-size: 3.6rem;
    padding-bottom: 2em;
  }
  
  .next-project .button {
    font-family: 'clinica_proregular';
    font-weight: 700;
    color: #feffff;
    border: 3px solid  #0000cc;
    box-shadow: #ffcccc 5px 5px;
    background: #0000cc;
    font-size: 1.6rem;
    padding: 20px 45px;
    text-align: center;
    line-height: 1;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  
  .button:hover {
    background: #feffff;
    color: #0000cc;
    box-shadow: #0000cc 5px 5px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  @media(max-width: 575px){
    .next-project .button {
      font-size: 1rem;
      padding: 15px 20px;
    }
  
    .next-project h1 {
      font-size: 2rem;
    }
  }
  
  @media(min-width: 576px) and (max-width: 768px){
    .next-project .button {
      font-size: 1.6rem;
      padding: 20px 30px;
    }
  
    .next-project h1 {
      font-size: 3rem;
    }
  }
  
  /* Footer */
  
  .footer {
    padding: 20px 0;
    color: #0000cc;
    text-align: center;
    width: 100%;
  }
  
  .footer .row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
  }
  
  .footer .row .col p {
    font-family: 'clinica_proregular';
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .footer .row .col a {
    padding: 3px;
  }
  
  /* Animation */
  
  .menu-icon {
    -vendor-animation-duration: 1s;
    animation-duration: 1s;
    -vendor-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .name-logo {
    -vendor-animation-duration: 1s;
    animation-duration: 1s;
    -vendor-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .title-text {
    -vendor-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -vendor-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  
  .scroll-down {
    -vendor-animation-duration: 1s;
    animation-duration: 1s;
    -vendor-animation-delay: 1s;
    animation-delay: 1s;
  }